@page "/floatingbutton"
@using FluentUI.Demo.Shared.Pages.FloattingButton.Examples

<h1>Floating button</h1>

<p>
    A floating button is a component that can be placed at a specified position on the relative container.
    This component can provide quick access to some actions in your app
    The RelativeContainerId of a floating button must be a component with relative position.
    If the RelativeContainerId isn't set, the position of the <code>FluentCxFloatingButton</code> is fixed.
</p>

<h2 id="example">Examples</h2>

<DemoSection Component="typeof(FloatingButtonDefault)" Title="Default" />
<DemoSection Component="typeof(FloatingButtonPosition)" Title="Position" />

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentCxFloatingButton)" />
