@page "/tilegridcolrowspan"

<h3>Column & Row spans</h3>

<p>Each item of a tile grid can have its own columnspan and rowspan.</p>

<div style="height: 400px">
    <FluentCxTileGrid Spacing="3"
                      Style="background-color: var(--neutral-layer-3); padding: 4px"
                      Columns="4"
                      RowHeight="100px"
                      CanResize
                      TItem="EmptyObject">
        <FluentCxTileGridItem RowSpan="1" ColumnSpan="1">
            Item 1
        </FluentCxTileGridItem>

        <FluentCxTileGridItem ColumnSpan="3">
            Item 2
        </FluentCxTileGridItem>

        <FluentCxTileGridItem ColumnSpan="2">
            Item 3
        </FluentCxTileGridItem>

        <FluentCxTileGridItem ColumnSpan="2">
            Item 4
        </FluentCxTileGridItem>

        <FluentCxTileGridItem RowSpan="3">
            Item 5
        </FluentCxTileGridItem>

        <FluentCxTileGridItem RowSpan="4">
            Item 6
        </FluentCxTileGridItem>

        <FluentCxTileGridItem ColumnSpan="2" RowSpan="2">
            Item 7
        </FluentCxTileGridItem>

        <FluentCxTileGridItem ColumnSpan="3" RowSpan="2">
            Item 8
        </FluentCxTileGridItem>

        <FluentCxTileGridItem ColumnSpan="4" RowSpan="2">
            Item 9
        </FluentCxTileGridItem>
    </FluentCxTileGrid>
</div>

@code {
    private class EmptyObject { }
}
