<h3>Default</h3>
<FluentMessageBar AllowDismiss=false Intent="MessageIntent.Warning" FadeIn=false Title="Issue with dynamic spacing">
    There is an issue with the Spacing property. It doesn't work dynamically (issue with css ? with rendering ? Do I forgot something in the config ?)
</FluentMessageBar>

<FluentStack Style="margin-bottom: 24px;" VerticalAlignment="VerticalAlignment.Center">
    <FluentLabel>Spacing</FluentLabel>
    <FluentSlider @bind-Value="Spacing" Min="0" Max="10" Step="1" Style="max-width: 300px; margin-top: 18px;" />
</FluentStack>

<div style="height: 400px">
    <FluentCxTileGrid Spacing="@Spacing"
                      Style="background-color: var(--neutral-layer-3); padding: 4px"
                      Columns="5"
                      TItem="EmptyObject"
                      RowHeight="75px">
        <FluentCxTileGridItem>
            CS : 1 | RS : 1
        </FluentCxTileGridItem>

        <FluentCxTileGridItem ColumnSpan="3">
            CS : 3 | RS : 1
        </FluentCxTileGridItem>

        <FluentCxTileGridItem>
            CS : 1 | RS : 1
        </FluentCxTileGridItem>

        <FluentCxTileGridItem ColumnSpan="5" RowSpan="2">
            CS : 5 | RS : 2
        </FluentCxTileGridItem>

        <FluentCxTileGridItem ColumnSpan="2" RowSpan="3">
            CS : 2 | RS : 3
        </FluentCxTileGridItem>

        <FluentCxTileGridItem RowSpan="2">
            CS : 1 | RS : 2
        </FluentCxTileGridItem>

        <FluentCxTileGridItem ColumnSpan="2" RowSpan="3">
            CS : 2 | RS : 3
        </FluentCxTileGridItem>
    </FluentCxTileGrid>
</div>

@code {
    private int Spacing = 3;

    public class EmptyObject { }
}
