@page "/tilegrid"


<h1>TileGrid</h1>

<p>
    The tile grid component is based on the two-dimensional CSS grid and is able to display content in tiles. 
    The tiles can be rearranged by the user. 
    The tiles can also be resized to change the way they span across the rows and columns.
</p>

<h2 id="example">Examples</h2>

<FluentCxTileGridDefault />
@* <FluentCxTileGridReorder />
<FluentCXTileGridResize />
<FluentCxTileGridColRowSpan />
<FluentCxTileGridHeader />
<FluentCxTileGridDashboard />
 *@
