@page "/animation-cascade"
@using FluentUI.Demo.Shared.Pages.Animations.Examples

<DemoSection Title="Cascade Animation Layout" Component="typeof(CascadeAnimation)">
    <Description>
        <p>
            This example demonstrates the <c>CascadeLayout</c>, which arranges items in a cascading manner, with configurable spread and radius.
            You can customize the animation duration, easing function, and other parameters to achieve the desired effect.
        </p>
    </Description>
</DemoSection>
