@page "/animation-float"
@using FluentUI.Demo.Shared.Pages.Animations.Examples

<DemoSection Title="Float Animation Layout" Component="typeof(FloatAnimation)">
    <Description>
        <p>
            This example demonstrates the <c>FloatLayout</c>, which arranges items in a floating manner, with configurable spread and radius.
            You can customize the animation duration, easing function, and other parameters to achieve the desired effect.
        </p>
    </Description>
</DemoSection>
