@page "/animation-default"
@using FluentUI.Demo.Shared.Pages.Animations.Examples

<DemoSection Title="Default Animation Layout" Component="typeof(AnimationDefault)">
    <Description>
        <p>
            This example demonstrates all the available layouts.
        </p>
    </Description>
</DemoSection>

