@page "/animation-pin"
@using FluentUI.Demo.Shared.Pages.Animations.Examples

<DemoSection Title="Pin Animation Layout" Component="typeof(PinAnimation)">
    <Description>
        <p>
            This example demonstrates the <c>PinLayout</c>, where elements are animated to a specific pin point (X, Y) on the screen.
            You can customize the animation duration, easing function, and other parameters to achieve the desired effect.
        </p>
    </Description>
</DemoSection>
