@page "/animation-morphing"
@using FluentUI.Demo.Shared.Pages.Animations.Examples

<DemoSection Title="Morphing Layout" Component="typeof(MorphingAnimation)">
    <Description>
        <p>
            This example demonstrates the <c>Morphing</c>, which smoothly transitions elements between layouts.
            There is no limit to the number of layouts you can add.
            You can customize the animation duration, easing function, and other parameters to achieve the desired effect.
        </p>
    </Description>
</DemoSection>
