@page "/animation-pulse"
@using FluentUI.Demo.Shared.Pages.Animations.Examples

<DemoSection Title="Pulse Animation Layout" Component="typeof(PulseAnimation)">
    <Description>
        <p>
            This example demonstrates the <c>Pulse</c> animation layout, where elements are animated in a pulsing manner.
            You can customize the animation duration, easing function, and other parameters to achieve the desired effect.
        </p>
    </Description>
</DemoSection>
