@import '_content/FluentUI.Blazor.Community.Components/FluentUI.Blazor.Community.Components.bfbg0rpk3m.bundle.scp.css';
@import '_content/FluentUI.Demo.Shared/FluentUI.Demo.Shared.wwj9uhzmz6.bundle.scp.css';
@import '_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.wuc5ioiakb.bundle.scp.css';

