<html>
	<head></head>
	<body>
		<div>
			<div class="fluentcx-color-palette" style="grid-template-columns: repeat(auto-fill, 32px); max-height: 300px; gap: 6px;" role="grid" id="xxx" aria-multiselectable="" aria-activedescendant="palette-item-f7b05547-0" b-cfq3xy1s4s="">
				<button id="xxx" class="palette-item selected-flash" role="gridcell" aria-label="#010A18" style="width: 32px; height: 32px;" blazor:onclick="x" tabindex="0" b-b0j3mswthq="" blazor:elementreference="xxx">
					<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
						<rect x="0" y="0" width="32" height="32" fill="#010A18" b-b0j3mswthq=""></rect>
					</svg>
				</button>
				<fluent-tooltip id="xxx" style="position-anchor: --f6a31a1c;" anchor="xxx" blazor:ondialogtoggle="13">
					<div class="fluent-stack-horizontal" style="justify-content: start; align-items: center; width: 100%;">
						<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
							<rect x="0" y="0" width="32" height="32" fill="#010A18" b-b0j3mswthq=""></rect>
						</svg>
						<div class="fluent-stack-vertical" style="padding: 12px; justify-content: start; align-items: start; width: 100%;">
							<fluent-text as="span">#010A18</fluent-text>
							<fluent-text as="span">RGB 1,10,24</fluent-text>
						</div>
					</div>
				</fluent-tooltip>
				<button id="xxx" class="palette-item" role="gridcell" aria-label="#031A40" style="width: 32px; height: 32px;" blazor:onclick="x" tabindex="0" b-b0j3mswthq="" blazor:elementreference="xxx">
					<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
						<rect x="0" y="0" width="32" height="32" fill="#031A40" b-b0j3mswthq=""></rect>
					</svg>
				</button>
				<fluent-tooltip id="xxx" style="position-anchor: --f3e459ef;" anchor="xxx" blazor:ondialogtoggle="14">
					<div class="fluent-stack-horizontal" style="justify-content: start; align-items: center; width: 100%;">
						<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
							<rect x="0" y="0" width="32" height="32" fill="#031A40" b-b0j3mswthq=""></rect>
						</svg>
						<div class="fluent-stack-vertical" style="padding: 12px; justify-content: start; align-items: start; width: 100%;">
							<fluent-text as="span">#031A40</fluent-text>
							<fluent-text as="span">RGB 3,26,64</fluent-text>
						</div>
					</div>
				</fluent-tooltip>
				<button id="xxx" class="palette-item" role="gridcell" aria-label="#052B68" style="width: 32px; height: 32px;" blazor:onclick="x" tabindex="0" b-b0j3mswthq="" blazor:elementreference="xxx">
					<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
						<rect x="0" y="0" width="32" height="32" fill="#052B68" b-b0j3mswthq=""></rect>
					</svg>
				</button>
				<fluent-tooltip id="xxx" style="position-anchor: --f3f08934;" anchor="xxx" blazor:ondialogtoggle="15">
					<div class="fluent-stack-horizontal" style="justify-content: start; align-items: center; width: 100%;">
						<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
							<rect x="0" y="0" width="32" height="32" fill="#052B68" b-b0j3mswthq=""></rect>
						</svg>
						<div class="fluent-stack-vertical" style="padding: 12px; justify-content: start; align-items: start; width: 100%;">
							<fluent-text as="span">#052B68</fluent-text>
							<fluent-text as="span">RGB 5,43,104</fluent-text>
						</div>
					</div>
				</fluent-tooltip>
				<button id="xxx" class="palette-item" role="gridcell" aria-label="#073B90" style="width: 32px; height: 32px;" blazor:onclick="x" tabindex="0" b-b0j3mswthq="" blazor:elementreference="xxx">
					<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
						<rect x="0" y="0" width="32" height="32" fill="#073B90" b-b0j3mswthq=""></rect>
					</svg>
				</button>
				<fluent-tooltip id="xxx" style="position-anchor: --f110b25e;" anchor="xxx" blazor:ondialogtoggle="16">
					<div class="fluent-stack-horizontal" style="justify-content: start; align-items: center; width: 100%;">
						<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
							<rect x="0" y="0" width="32" height="32" fill="#073B90" b-b0j3mswthq=""></rect>
						</svg>
						<div class="fluent-stack-vertical" style="padding: 12px; justify-content: start; align-items: start; width: 100%;">
							<fluent-text as="span">#073B90</fluent-text>
							<fluent-text as="span">RGB 7,59,144</fluent-text>
						</div>
					</div>
				</fluent-tooltip>
				<button id="xxx" class="palette-item" role="gridcell" aria-label="#084BB8" style="width: 32px; height: 32px;" blazor:onclick="x" tabindex="0" b-b0j3mswthq="" blazor:elementreference="xxx">
					<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
						<rect x="0" y="0" width="32" height="32" fill="#084BB8" b-b0j3mswthq=""></rect>
					</svg>
				</button>
				<fluent-tooltip id="xxx" style="position-anchor: --f6306e97;" anchor="xxx" blazor:ondialogtoggle="17">
					<div class="fluent-stack-horizontal" style="justify-content: start; align-items: center; width: 100%;">
						<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
							<rect x="0" y="0" width="32" height="32" fill="#084BB8" b-b0j3mswthq=""></rect>
						</svg>
						<div class="fluent-stack-vertical" style="padding: 12px; justify-content: start; align-items: start; width: 100%;">
							<fluent-text as="span">#084BB8</fluent-text>
							<fluent-text as="span">RGB 8,75,184</fluent-text>
						</div>
					</div>
				</fluent-tooltip>
				<button id="xxx" class="palette-item" role="gridcell" aria-label="#0A5BE0" style="width: 32px; height: 32px;" blazor:onclick="x" tabindex="0" b-b0j3mswthq="" blazor:elementreference="xxx">
					<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
						<rect x="0" y="0" width="32" height="32" fill="#0A5BE0" b-b0j3mswthq=""></rect>
					</svg>
				</button>
				<fluent-tooltip id="xxx" style="position-anchor: --f48ebbe8;" anchor="xxx" blazor:ondialogtoggle="18">
					<div class="fluent-stack-horizontal" style="justify-content: start; align-items: center; width: 100%;">
						<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
							<rect x="0" y="0" width="32" height="32" fill="#0A5BE0" b-b0j3mswthq=""></rect>
						</svg>
						<div class="fluent-stack-vertical" style="padding: 12px; justify-content: start; align-items: start; width: 100%;">
							<fluent-text as="span">#0A5BE0</fluent-text>
							<fluent-text as="span">RGB 10,91,224</fluent-text>
						</div>
					</div>
				</fluent-tooltip>
				<button id="xxx" class="palette-item" role="gridcell" aria-label="#1F70F5" style="width: 32px; height: 32px;" blazor:onclick="x" tabindex="0" b-b0j3mswthq="" blazor:elementreference="xxx">
					<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
						<rect x="0" y="0" width="32" height="32" fill="#1F70F5" b-b0j3mswthq=""></rect>
					</svg>
				</button>
				<fluent-tooltip id="xxx" style="position-anchor: --f7790d2a;" anchor="xxx" blazor:ondialogtoggle="19">
					<div class="fluent-stack-horizontal" style="justify-content: start; align-items: center; width: 100%;">
						<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
							<rect x="0" y="0" width="32" height="32" fill="#1F70F5" b-b0j3mswthq=""></rect>
						</svg>
						<div class="fluent-stack-vertical" style="padding: 12px; justify-content: start; align-items: start; width: 100%;">
							<fluent-text as="span">#1F70F5</fluent-text>
							<fluent-text as="span">RGB 31,112,245</fluent-text>
						</div>
					</div>
				</fluent-tooltip>
				<button id="xxx" class="palette-item" role="gridcell" aria-label="#478AF7" style="width: 32px; height: 32px;" blazor:onclick="x" tabindex="0" b-b0j3mswthq="" blazor:elementreference="xxx">
					<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
						<rect x="0" y="0" width="32" height="32" fill="#478AF7" b-b0j3mswthq=""></rect>
					</svg>
				</button>
				<fluent-tooltip id="xxx" style="position-anchor: --f149cdd0;" anchor="xxx" blazor:ondialogtoggle="20">
					<div class="fluent-stack-horizontal" style="justify-content: start; align-items: center; width: 100%;">
						<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
							<rect x="0" y="0" width="32" height="32" fill="#478AF7" b-b0j3mswthq=""></rect>
						</svg>
						<div class="fluent-stack-vertical" style="padding: 12px; justify-content: start; align-items: start; width: 100%;">
							<fluent-text as="span">#478AF7</fluent-text>
							<fluent-text as="span">RGB 71,138,247</fluent-text>
						</div>
					</div>
				</fluent-tooltip>
				<button id="xxx" class="palette-item" role="gridcell" aria-label="#6FA3F8" style="width: 32px; height: 32px;" blazor:onclick="x" tabindex="0" b-b0j3mswthq="" blazor:elementreference="xxx">
					<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
						<rect x="0" y="0" width="32" height="32" fill="#6FA3F8" b-b0j3mswthq=""></rect>
					</svg>
				</button>
				<fluent-tooltip id="xxx" style="position-anchor: --f13e1777;" anchor="xxx" blazor:ondialogtoggle="21">
					<div class="fluent-stack-horizontal" style="justify-content: start; align-items: center; width: 100%;">
						<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
							<rect x="0" y="0" width="32" height="32" fill="#6FA3F8" b-b0j3mswthq=""></rect>
						</svg>
						<div class="fluent-stack-vertical" style="padding: 12px; justify-content: start; align-items: start; width: 100%;">
							<fluent-text as="span">#6FA3F8</fluent-text>
							<fluent-text as="span">RGB 111,163,248</fluent-text>
						</div>
					</div>
				</fluent-tooltip>
				<button id="xxx" class="palette-item" role="gridcell" aria-label="#97BDFA" style="width: 32px; height: 32px;" blazor:onclick="x" tabindex="0" b-b0j3mswthq="" blazor:elementreference="xxx">
					<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
						<rect x="0" y="0" width="32" height="32" fill="#97BDFA" b-b0j3mswthq=""></rect>
					</svg>
				</button>
				<fluent-tooltip id="xxx" style="position-anchor: --f751342c;" anchor="xxx" blazor:ondialogtoggle="22">
					<div class="fluent-stack-horizontal" style="justify-content: start; align-items: center; width: 100%;">
						<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
							<rect x="0" y="0" width="32" height="32" fill="#97BDFA" b-b0j3mswthq=""></rect>
						</svg>
						<div class="fluent-stack-vertical" style="padding: 12px; justify-content: start; align-items: start; width: 100%;">
							<fluent-text as="span">#97BDFA</fluent-text>
							<fluent-text as="span">RGB 151,189,250</fluent-text>
						</div>
					</div>
				</fluent-tooltip>
				<button id="xxx" class="palette-item" role="gridcell" aria-label="#BFD6FC" style="width: 32px; height: 32px;" blazor:onclick="x" tabindex="0" b-b0j3mswthq="" blazor:elementreference="xxx">
					<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
						<rect x="0" y="0" width="32" height="32" fill="#BFD6FC" b-b0j3mswthq=""></rect>
					</svg>
				</button>
				<fluent-tooltip id="xxx" style="position-anchor: --f443d660;" anchor="xxx" blazor:ondialogtoggle="23">
					<div class="fluent-stack-horizontal" style="justify-content: start; align-items: center; width: 100%;">
						<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
							<rect x="0" y="0" width="32" height="32" fill="#BFD6FC" b-b0j3mswthq=""></rect>
						</svg>
						<div class="fluent-stack-vertical" style="padding: 12px; justify-content: start; align-items: start; width: 100%;">
							<fluent-text as="span">#BFD6FC</fluent-text>
							<fluent-text as="span">RGB 191,214,252</fluent-text>
						</div>
					</div>
				</fluent-tooltip>
				<button id="xxx" class="palette-item" role="gridcell" aria-label="#E7EFFE" style="width: 32px; height: 32px;" blazor:onclick="x" tabindex="0" b-b0j3mswthq="" blazor:elementreference="xxx">
					<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
						<rect x="0" y="0" width="32" height="32" fill="#E7EFFE" b-b0j3mswthq=""></rect>
					</svg>
				</button>
				<fluent-tooltip id="xxx" style="position-anchor: --f2d70049;" anchor="xxx" blazor:ondialogtoggle="24">
					<div class="fluent-stack-horizontal" style="justify-content: start; align-items: center; width: 100%;">
						<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true" b-b0j3mswthq="">
							<rect x="0" y="0" width="32" height="32" fill="#E7EFFE" b-b0j3mswthq=""></rect>
						</svg>
						<div class="fluent-stack-vertical" style="padding: 12px; justify-content: start; align-items: start; width: 100%;">
							<fluent-text as="span">#E7EFFE</fluent-text>
							<fluent-text as="span">RGB 231,239,254</fluent-text>
						</div>
					</div>
				</fluent-tooltip>
			</div>
			<div class="fluentcx-color-palette-previews" b-cfq3xy1s4s=""></div>
		</div>
	</body>
</html>