@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

<div class="login-overlay @Class"
     style="@Style"
     id="@Id"
     @attributes="AdditionalAttributes">
     @ChildContent
</div>
