@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

<FluentCard Id="@Id">
    <div style="overflow-y: auto; width: 100%; height: 100%;">
       @GetText()
    </div>
</FluentCard>

