@page "/imagegroup"

@using FluentUI.Demo.Shared.Pages.ImageGroup.Examples

<h1>ImageGroup</h1>

<p>
    An ImageGroup is a graphical representation of multiple images.
    An ImageGroup leverages the Image component, with each Image representing an image in many format like jpg, svg, png... 
    An ImageGroup can be represented in a spread or stack layout. Spread is the default.
    An ImageGroup can be represented in many sizes and with no rounded corners, rounded corners or circle.
</p>

<h2 id="example">Examples</h2>

<DemoSection Component="typeof(ImageGroupDefault)" Title="Default" />

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentCxImageGroup)" />
