<div style="width: 100%; height: 850px">
    <FluentCxSlideshow TItem="string"
                       ShowControls>
        <SlideshowItem>
            <SlideshowImage Source="./_content/FluentUI.Demo.Shared/slideshowimages/1.jpg" />
            <SlideshowCaption Style="background-color: rgba(0, 0, 0, 0.5)">
                <h2 style="color: white">Caption for the First Item</h2>
                <p style="color: white">Test to create caption for your item.</p>
            </SlideshowCaption>
        </SlideshowItem>
    
        <SlideshowItem>
            <SlideshowImage Source="./_content/FluentUI.Demo.Shared/slideshowimages/2.jpg" />
            <SlideshowCaption Style="background-color: rgba(0, 0, 0, 0.5);">
                <h2 style="color: white">Caption for the Second Item</h2>
                <p style="color: white">Test to create caption for your item.</p>
            </SlideshowCaption>
        </SlideshowItem>
    
        <SlideshowItem>
            <SlideshowImage Source="./_content/FluentUI.Demo.Shared/slideshowimages/3.jpg" />
            <SlideshowCaption Style="background-color: rgba(0, 0, 0, 0.5)">
                <h2 style="color: white">Caption for the Third Item</h2>
                <p style="color: white">Test to create caption for your item.</p>
            </SlideshowCaption>
        </SlideshowItem>
    </FluentCxSlideshow>
</div>
