    <div style="width: 100%; height: 850px">
        <FluentSelect @bind-Value="@_imageRatio"
                      Label="Image Ratio"
                      TOption="string"
                      Style="margin-bottom: 20px">
            <FluentOption Value="Auto" Selected="true">Auto</FluentOption>
            <FluentOption Value="Fill">Fill</FluentOption>
        </FluentSelect>

        <div style="width: 100%; height: calc(100% - 150px)">
            <FluentCxSlideshow ShowIndicators
                               ShowControls
                               AutoSize
                               ImageAspectRatio=@(Enum.Parse<SlideshowImageRatio>(_imageRatio))
                               IndicatorPosition="@(SlideshowIndicatorPosition.Bottom)"
                               TItem="string">
                <SlideshowItem>
                    <SlideshowImage Source="./_content/FluentUI.Demo.Shared/slideshowimages/1.jpg" />
                </SlideshowItem>

                <SlideshowItem>
                    <SlideshowImage Source="./_content/FluentUI.Demo.Shared/slideshowimages/2.jpg" />
                </SlideshowItem>

                <SlideshowItem>
                    <SlideshowImage Source="./_content/FluentUI.Demo.Shared/slideshowimages/3.jpg" />
                </SlideshowItem>
                <SlideshowItem>
                    <SlideshowImage Source="./_content/FluentUI.Demo.Shared/slideshowimages/1.jpg" />
                </SlideshowItem>

                <SlideshowItem>
                    <SlideshowImage Source="./_content/FluentUI.Demo.Shared/slideshowimages/2.jpg" />
                </SlideshowItem>

                <SlideshowItem>
                    <SlideshowImage Source="./_content/FluentUI.Demo.Shared/slideshowimages/3.jpg" />
                </SlideshowItem>
            </FluentCxSlideshow>
        </div>
    </div>

@code {
    private string _imageRatio = "Auto";
}
