.cookie-description {
  padding: 0 16px 16px 16px;
  animation: expand 0.25s ease-out;
}

@keyframes expand {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

