@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

<CascadingValue Value="this" IsFixed>
    <nav style="width: 100%; height: 40px" aria-label="filemanagernavigationview">
        <ol class="file-navigation-manager-view">
            @ChildContent
        </ol>
    </nav>
</CascadingValue>
