@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

<li id="@(Id)-breadcrumb-item" class="file-navigation-manager-view-item">
    @if (!string.IsNullOrEmpty(Text))
    {
        <FluentButton OnClick="@OnClickItemAsync">
            @Text
        </FluentButton>
    }
    else
    {
        <FluentButton IconStart="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size24.Home())"
                      OnClick="@OnClickItemAsync" />
    }
</li>
