<div style="height: 700px">
    <FluentCxChat Owner=@_owner
                  RoomProvider=@GetRoomsAsync
                  TItem="NoFileEntryData" />
</div>

@code {
    private ChatUser _owner = new()
    {
        CultureId = 1,
        CultureName = "fr-FR",
        DisplayName = "Jérémy JANISZEWSKI",
        Initials = "J J",
        Id = 1,
    };

    private async ValueTask<IEnumerable<ChatRoom>> GetRoomsAsync(ChatRoomItemsRequest request, CancellationToken cancellationToken = default)
    {
        var result = await ValueTask.FromResult<IEnumerable<ChatRoom>>([]);

        return result;
    }
}
