<h3>Drop immediately</h3>

<p>
    In this sample, the boolean "Immediate" is set to true, which allow the immediate replacement of an item.
</p>

<div class="grid-container">
    <FluentCxDropZoneContainer Items="_sourceList"
                               Immediate
                               TItem="DropZoneSampleItem"
                               OnItemDrop="@((p)=>OnItemDrop(p))"
                               OnReplacedItemDrop="@((p)=>OnReplacedItemDrop(p))">
        <ItemContent>
            <FluentCard>@context.Title</FluentCard>
        </ItemContent>
    </FluentCxDropZoneContainer>
</div>

DropedItem: @dropedItem?.Title
<br />
ReplacedItem: @replacedItem?.Title


@code {
    private DropZoneSampleItem? dropedItem;
    private DropZoneSampleItem? replacedItem;

    private readonly List<DropZoneSampleItem> _sourceList = new List<DropZoneSampleItem>()
    {
            new DropZoneSampleItem(){Title = "Item 1"},
            new DropZoneSampleItem(){Title = "Item 2"},
            new DropZoneSampleItem(){Title = "Item 3"},
            new DropZoneSampleItem(){Title = "Item 4"},
            new DropZoneSampleItem(){Title = "Item 5"},
    };

    private void OnItemDrop(DropZoneSampleItem item)
    {
        dropedItem = item;
        StateHasChanged();
    }

    private void OnReplacedItemDrop(DropZoneSampleItem item)
    {
        replacedItem = item;
        StateHasChanged();
    }
}
