@page "/dropzones"


<h1>Drop Zone</h1>

<p>
    The drop zone component allows drag & drop inside the same container or between two containers.
    You can allow or deny the dropped items
</p>

<h2 id="example">Examples</h2>

<AllowDropZoneSample />
<AllowDragSample />
<DropZoneMaxItemsSample />
<DropZoneImmediateSample />
