@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

@if (Parent is not null)
{
    <LoginCardContainer Title="@Title"
                        TitleIcon="@(Icon)">
        <Body>
            <FluentStack Orientation="Orientation.Vertical"
                         VerticalGap="30"
                         Style="height: 100%">
                <FluentLabel Color="Color.Neutral"
                             Style="margin-bottom: 30px; margin-top: 30px">
                    @Message
                </FluentLabel>

                <FluentStack Style="height: 100%"
                             VerticalAlignment="VerticalAlignment.Bottom"
                             HorizontalAlignment="HorizontalAlignment.Center">
                    <FluentButton Style="width: 100%;"
                                  Appearance="Appearance.Accent"
                                  OnClick="OnLoginAsync">
                        @Parent!.Labels.Login
                    </FluentButton>
                </FluentStack>
            </FluentStack>
        </Body>
    </LoginCardContainer>
}
