@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase
@typeparam TItem

@if (Parent?.ChildContent is null)
{
    @_renderComponent;
}

@code {
    private readonly RenderFragment _renderComponent;

    public FluentCxTileGridItem()
    {
        Id = StringHelper.GenerateId();

        _renderComponent = __builder =>
        {
            <FluentCxResizer Id="@GetId()"
                             Class="@Class"
                             Style="width: 100%; height: 100%"
                             SpanGridId="@Parent?.Id"
                             OnTapped="@OnTapped"
                             role="listitem"
                             OnDoubleTapped="@OnDoubleTapped"
                             IsResizeEnabled=@(Parent?.CanResize ?? false)>
                <div style="width: 100%; height: 100%;">
                    @ChildContent
                </div>
            </FluentCxResizer>
        };

        Component = _renderComponent;
    }
}
