@page "/mediaquery"
@using FluentUI.Demo.Shared.Pages.MediaQuery.Examples

<h1>Media Query</h1>

<p>
    A component which detects a change in a javascript mediaquery.
    When the mediaquery changes, the user can use the change to manage the ui.
    For example, the user can hide some datagrid columns if the screen size is below the query defined in <code>FluentCxMediaQuery</code>
</p>

<h2 id="example">Examples</h2>

<DemoSection Component="typeof(MediaQueryDefault)" Title="Default">
    <Description>
        MediaQuery allow the user to modify some elements like layout or to show / hide some elements from a specific screen size, and so on...
    </Description>
</DemoSection>

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentCxMediaQuery)" />
