@page "/pathbar"
@using FluentUI.Demo.Shared.Pages.PathBar.Examples

<h1>PathBar</h1>

<p>
    A path bar is a component is an advanced breadcrumb which display a menu between separators.
</p>

<h2 id="example">Examples</h2>

<DemoSection Component="typeof(PathBarDefault)" Title="Default" />

<DemoSection Component="typeof(PathBarWithRootAndPath)" Title="With Root And Path" />

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentCxPathBar)" />
