@page "/pathbar"
@using FluentUI.Demo.Shared.Pages.PathBar.Examples

<h1>PathBar</h1>

<p>
    A path bar is a component is an advanced breadcrumb like Windows 11 explorer bar which display a menu between separators.
    A path bar can have a root item and a path to display.
    A path bar item can have sub items which will be displayed in a menu when clicking on the item.
    When an item overrides the width of the path bar, it will be collapsed and a menu will be displayed to access the hidden items.
</p>

<h2 id="example">Examples</h2>

<DemoSection Component="typeof(PathBarDefault)" Title="Default" />
 
<DemoSection Component="typeof(PathBarWithRootAndPath)" Title="With Root And Path" />

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentCxPathBar)" />
