@page "/scheduler"
@using FluentUI.Demo.Shared.Pages.Scheduler.Examples

<h1>Scheduler</h1>

<p>
    The Scheduler component provides a way to display and manage events in a calendar-like interface.
</p>

<h2 id="example">Examples</h2>


<DemoSection Component="typeof(SchedulerExample)" Title="View Scheduler" />


<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentCxScheduler<>)" />
