@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

<div class="audio-title-container">
    <div class="audio-title-scroller @Class"
         style="@Style"
         data-text="@Title"
         aria-label="@Title">
         @Title
    </div>
</div>

