.slideshow-bloc-image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.slideshow-bloc-image-child-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
}
