.slideshow-item {
    width: var(--slideshow-width);
    height: var(--slideshow-height);
    display: inline-flex;
    overflow: hidden;
    flex: 0 0 var(--slideshow-width);
    justify-content: center;
}

.slideshow-item-vertical {
  flex: 0 0 var(--slideshow-height);
}
