@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

@if (Parent is not null)
{
    <LoginCardContainer Title="@Parent!.Labels.ForgotPasswordConfirmation" TitleIcon="@(new Regular.Size48.PasswordReset())">
        <Body>
            <FluentStack Style="height: 100%"
                         Orientation="Orientation.Vertical"
                         VerticalGap="0">
                <FluentLabel Color="Color.Neutral"
                             Style="margin-bottom: 30px; margin-top: 30px">
                    @Parent!.Labels.ForgotPasswordConfirmationInstructions
                </FluentLabel>

                <FluentStack VerticalAlignment="VerticalAlignment.Bottom"
                             Style="height: 100%">
                    <FluentButton Appearance="Appearance.Accent"
                                  Style="width: 100%"
                                  OnClick="OnLoginAsync">
                        @Parent!.Labels.Login
                    </FluentButton>
                </FluentStack>
            </FluentStack>
        </Body>

        <Footer>
            <FluentStack VerticalAlignment="VerticalAlignment.Bottom"
                         HorizontalAlignment="HorizontalAlignment.Center"
                         Style="height: 100%"
                         Orientation="Orientation.Vertical">
                <FluentStack Orientation="Orientation.Vertical"
                             HorizontalAlignment="HorizontalAlignment.Center"
                             VerticalGap="1">
                    <FluentLabel Color="@Color.FillInverse">@Parent!.Labels.EmailNotReceived</FluentLabel>
                    <FluentAnchor Href="#"
                                  Appearance="Appearance.Hypertext"
                                  OnClick="@(OnResendEmailAsync)">
                        @Parent!.Labels.ResendEmail
                    </FluentAnchor>
                </FluentStack>
            </FluentStack>
        </Footer>
    </LoginCardContainer>
}
