/* _content/FluentUI.Blazor.Community.Components/Components/ArtisticScatter/ArtisticScatterItem.razor.rz.scp.css */
.fluent-cx-artistic-scatter-item[b-xk1fn4o254] {
  width: var(--artistic-scatter-item-width, 100px);
  height: var(--artistic-scatter-item-height, 100px);
  border-radius: var(--artistic-scatter-item-border-radius, 10px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, opacity 0.4s ease;
  animation: fadeInScatter-b-xk1fn4o254 0.8s ease forwards;
  opacity: 0;
  will-change: transform;
}

@keyframes fadeInScatter-b-xk1fn4o254 {
  from {
    transform: scale(0.8) rotate(-10deg);
    opacity: 0;
  }

  to {
    transform: scale(1) rotate(0deg);
    opacity: var(--artistic-scatter-item-opacity, 1);
  }
}
/* _content/FluentUI.Blazor.Community.Components/Components/ArtisticScatter/FluentCxArtisticScatter.razor.rz.scp.css */
.fluent-cx-artistic-scatter[b-4vayk69aw5] {
  position: relative;
  margin: auto;
  overflow: hidden;
  touch-action: none;
  width: var(--artistic-scatter-width, 100%);
  height: var(--artistic-scatter-height, 100%);
}

.fluent-cx-artistic-scatter-container[b-4vayk69aw5] {

}

.fluent-cx-artistic-scatter-container.mobile[b-4vayk69aw5] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px;
}

  .fluent-cx-artistic-scatter-container.default[b-4vayk69aw5] {
    height: 100%;
    position: relative;
  }
/* _content/FluentUI.Blazor.Community.Components/Components/Cookies/FluentCxCookie.razor.rz.scp.css */
.cookie-dialog[b-kwu7h9u05o] {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: var(--cookie-width, 50%);
  height: var(--cookie-height, auto);
  z-index: 9901;
}

.cookie-small[b-kwu7h9u05o] {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: var(--cookie-width, 500px);
  height: var(--cookie-height, 250px);
  z-index: 9901;
}
/* _content/FluentUI.Blazor.Community.Components/Components/FloatingButton/FluentCxFloatingButton.razor.rz.scp.css */
.fluentcx-floatingbutton-middle-center[b-5k3xn055tf] {
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.fluentcx-floatingbutton-middle[b-5k3xn055tf] {
    top: 50%;
    transform: translateY(-50%);
}

.fluentcx-floatingbutton-center[b-5k3xn055tf] {
  left: 50%;
  transform: translateX(-50%);
}
/* _content/FluentUI.Blazor.Community.Components/Components/PathBar/FluentCxPathBar.razor.rz.scp.css */
.fluentcx-path-bar[b-vpqkvhut00] {
  height: calc((var(--base-height-multiplier) + var(--density)) * var(--design-unit) * 1px);
  width: 100%;
  background: var(--neutral-fill-stealth-rest);
  column-gap: 2px;
  display: flex;
  flex-direction: row;
}

.fluentcx-path-bar-container[b-vpqkvhut00] {
  width: calc(100% - 64px);
  height: 100%;
  column-gap: 2px;
  display: flex;
  flex-direction: row;
}
/* _content/FluentUI.Blazor.Community.Components/Components/PathBar/FluentCxPathBarItem.razor.rz.scp.css */
.fluentcx-path-bar-item[b-0b8zgkhmqr] {
  display: flex;
  flex-direction: row;
}
/* _content/FluentUI.Blazor.Community.Components/Components/Resizer/FluentCxResizer.razor.rz.scp.css */
.fluentcx-resizer[b-67tzm6rfoa] {
  display: inline-flex;
  position: relative;
  min-height: calc((var(--base-height-multiplier) + var(--density)) * var(--design-unit) * 1px);
}

.fluentcx-resizer-handler[b-67tzm6rfoa] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.fluentcx-resizer-child-content-container[b-67tzm6rfoa] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.fluentcx-resizer-handler-cursor-ew[b-67tzm6rfoa] {
  cursor: ew-resize;
}

.fluentcx-resizer-handler-cursor-ns[b-67tzm6rfoa] {
  cursor: ns-resize;
}

.fluentcx-resizer-handler-cursor-nwse[b-67tzm6rfoa] {
  cursor: nwse-resize;
}

[b-67tzm6rfoa] fluent-button {
  min-height: calc((var(--base-height-multiplier) + var(--density)) * var(--design-unit) * 1px);
  height: 100%;
  width: 100%;
}
/* _content/FluentUI.Blazor.Community.Components/Components/Signature/Layers/SignatureGridLayer.razor.rz.scp.css */
.signature-grid-layer[b-gk7qf3teau] {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
  background-color: transparent;
}
/* _content/FluentUI.Blazor.Community.Components/Components/Signature/Layers/SignatureInkLayer.razor.rz.scp.css */
.signature-ink-layer[b-16j8hpwmdo] {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: all;
  background-color: transparent;
}
/* _content/FluentUI.Blazor.Community.Components/Components/Signature/Layers/SignatureOverlayLayer.razor.rz.scp.css */
.signature-overlay-layer[b-6jygwgfmin] {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
  background-color: transparent;
}

.watermark-image[b-6jygwgfmin] {
  opacity: 0.1;
  pointer-events: none;
}
/* _content/FluentUI.Blazor.Community.Components/Components/Signature/Signature.razor.rz.scp.css */
.signature-container[b-d0srgm8f1t] {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 300px;
  background-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  touch-action: none; 
  overflow: hidden;
}
/* _content/FluentUI.Blazor.Community.Components/Components/SleekDial/SleekDialItemView.razor.rz.scp.css */
.sleekdialitem-radial[b-nupc10y2mj] {
  position: absolute !important;
  transform: rotate(var(--sleekdial-radial-angle)) translate(var(--sleekdial-radial-offset)) rotate(calc(-1 * var(--sleekdial-radial-angle)))
}

.sleekdialitem-text-radial[b-nupc10y2mj] {
  position: absolute;
  visibility: hidden
}

.sleekdialitem-radial-center[b-nupc10y2mj] {
  left: calc(.5 * var(--sleekdial-radial-min-width) + var(--sleekdial-radial-offset));
}

.sleekdialitem-radial-middle[b-nupc10y2mj] {
  top: calc(.5 * var(--sleekdial-radial-min-width) + var(--sleekdial-radial-offset));
}

.sleekdialitem-radial-top[b-nupc10y2mj] {
    top: 0px;
}

.sleekdialitem-radial-right[b-nupc10y2mj] {
  right: 0px;
}

.sleekdialitem-radial-bottom[b-nupc10y2mj] {
    bottom: 0px;
}
/* _content/FluentUI.Blazor.Community.Components/Components/SleekDial/SleekDialPopup.razor.rz.scp.css */
@keyframes FadeIn-b-r91sbni5ka {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes FadeOut-b-r91sbni5ka {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@keyframes ZoomIn-b-r91sbni5ka {
  from {
    transform: translate(0, 0) scale(0)
  }

  to {
    transform: translate(0, 0) scale(1)
  }
}

@keyframes ZoomOut-b-r91sbni5ka {
  from {
    transform: translate(0, 0) scale(1)
  }

  to {
    transform: translate(0, 0) scale(0)
  }
}

@keyframes FadeZoomIn-b-r91sbni5ka {
  from {
    opacity: 0;
    transform: scale(0)
  }

  to {
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes FadeZoomOut-b-r91sbni5ka {
  from {
    opacity: 1;
    transform: scale(1)
  }

  to {
    opacity: 0;
    transform: scale(0)
  }
}

.animation-fadein[b-r91sbni5ka] {
  animation-name: FadeIn-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in;
}

.animation-fadeout[b-r91sbni5ka] {
  animation-name: FadeOut-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-out;
}

.animation-zoomin[b-r91sbni5ka] {
  animation-name: ZoomIn-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in;
}

.animation-zoomout[b-r91sbni5ka] {
  animation-name: ZoomOut-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-out;
}

.animation-fadezoomin[b-r91sbni5ka] {
  animation-name: FadeZoomIn-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in;
}

.animation-fadezoomout[b-r91sbni5ka] {
  animation-name: FadeZoomOut-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-out;
}

.sleekdial-popup-hidden[b-r91sbni5ka] {
    visibility: hidden;
}

.sleekdial-popup[b-r91sbni5ka] {
    position: absolute;
    z-index: 998;
}

.sleekdial-popup-linear-middle[b-r91sbni5ka] {
    bottom: var(--sleekdial-vertical-offset);
}

.sleekdial-popup-linear-left[b-r91sbni5ka] {
    left: var(--sleekdial-horizontal-offset);
}

.sleekdial-popup-linear-right[b-r91sbni5ka] {
  right: var(--sleekdial-horizontal-offset);
}

.sleekdial-popup-linear-direction-left .sleekdial-popup-ul[b-r91sbni5ka] {
  flex-direction: row ;
}

.sleekdial-popup-linear-direction-right .sleekdial-popup-ul[b-r91sbni5ka] {
  flex-direction: row-reverse;
}

.sleekdial-popup-linear-direction-down .sleekdial-popup-ul[b-r91sbni5ka] {
  flex-direction: column-reverse;
}

.sleekdial-popup-linear-center[b-r91sbni5ka] {
  left: var(--sleekdial-horizontal-offset);
}

.sleekdial-popup-linear-top[b-r91sbni5ka] {
  top: var(--sleekdial-vertical-offset);
}

.sleekdial-popup-linear-bottom[b-r91sbni5ka] {
  bottom: var(--sleekdial-vertical-offset);
}

.sleekdial-popup-radial-top[b-r91sbni5ka] {
  top: 16px;
}

.sleekdial-popup-radial-bottom[b-r91sbni5ka] {
  bottom: 16px;
}

.sleekdial-popup-radial-left[b-r91sbni5ka] {
  left: 16px;
}

.sleekdial-popup-radial-right[b-r91sbni5ka] {
  right: 16px;
}

.sleekdial-popup-radial[b-r91sbni5ka] {
  height: calc(var(--sleekdial-radial-offset) + 2 * var(--sleekdial-radial-min-height));
  width: calc(var(--sleekdial-radial-offset) + 2*var(--sleekdial-radial-min-width));
}

.sleekdial-popup-radial-middle[b-r91sbni5ka] {
  height: calc(2 * var(--sleekdial-radial-offset) + 2 * var(--sleekdial-radial-min-height));
  top: var(--sleekdial-vertical-offset);
}

.sleekdial-popup-radial-center[b-r91sbni5ka] {
  width: calc(2 * var(--sleekdial-radial-offset) + 2 * var(--sleekdial-radial-min-width));
  left: var(--sleekdial-horizontal-offset);
}

.sleekdial-popup-radial-top-left[b-r91sbni5ka] {
  border-bottom-right-radius: 100%
}

.sleekdial-popup-radial-top-right[b-r91sbni5ka] {
  border-bottom-left-radius: 100%
}

.sleekdial-popup-radial-bottom-left[b-r91sbni5ka] {
  border-top-right-radius: 100%
}

.sleekdial-popup-radial-bottom-right[b-r91sbni5ka] {
  border-top-left-radius: 100%
}
/* _content/FluentUI.Blazor.Community.Components/Components/SleekDial/SleekDialView.razor.rz.scp.css */
.sleekdial-view-radial[b-hxine644y0] {
  height: inherit;
  width: inherit;
  position: relative;
  border-radius: inherit;
  padding: 5px 3px;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
}
/* _content/FluentUI.Blazor.Community.Components/Components/Slideshow/DotIndicator.razor.rz.scp.css */
.dot-indicator[b-ju0sbku81c] {
  opacity: 0.5;
  margin-block: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  border-width: 0px;
  border-style: solid;
  border-radius: 50%;
  box-sizing: content-box;
  display: inline-block;
  position: relative;
  flex: 0 0 auto;
  cursor: pointer;
  pointer-events: all;
  vertical-align: top;
  background: var(--accent-fill-rest);
  border: var(--accent-fill-rest);
  margin-inline: calc(1.25rem / 2);
  writing-mode: unset;
}

.dot-indicator-vertical[b-ju0sbku81c] {
  margin-top: calc(1.25rem / 2);
  margin-bottom: calc(1.25rem / 2);
}

.dot-indicator-active[b-ju0sbku81c] {
  opacity: 1;
}

/* _content/FluentUI.Blazor.Community.Components/Components/Slideshow/FluentCxSlideshow.razor.rz.scp.css */
.slideshow-animate[b-ued219vf48] {
    transition-duration: var(--slideshow-duration);
    transition-timing-function: ease-in-out;
}

.slideshow-animate-horizontal[b-ued219vf48] {
  flex-direction: row;
  height: var(--slideshow-height);
  width: calc(var(--slideshow-item-count, 1) * var(--slideshow-width));
}

.slideshow-animate-vertical[b-ued219vf48] {
  flex-direction: column;
  height: calc(var(--slideshow-item-count, 1) * var(--slideshow-height));
  width: var(--slideshow-width);
}

.slideshow-translate-vertical[b-ued219vf48] {
  transform: translateY(calc(-100% / var(--slideshow-item-count, 1) * (var(--slideshow-current-index, 1) - 1)));
}

.slideshow-translate-horizontal[b-ued219vf48] {
  transform: translateX(calc(-100% / var(--slideshow-item-count, 1) * (var(--slideshow-current-index, 1) - 1)));
}

.slideshow-container[b-ued219vf48] {
    display: flex;
}

.slideshow-container-animation-end[b-ued219vf48] {
  transition: none;
  transform: translateX(0%);
}

.slideshow[b-ued219vf48] {
    position: relative;
    margin: 0;
    padding: 0;
    height: var(--slideshow-height);
    width: var(--slideshow-width);
    display: flex;
    flex-flow: row nowrap;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
}

.slideshow-indicators[b-ued219vf48] {
    padding: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    background-color: var(--neutral-layer-1);
    opacity: 0.65;
}

.slideshow-indicators-vertical[b-ued219vf48] {
    top: 0;
    bottom: 0;
    width: calc(18px + (var(--base-height-multiplier) + var(--density)) * var(--design-unit) * 1px);
}

.slideshow-indicators-horizontal[b-ued219vf48] {
    left: 0;
    right: 0;
    height: calc(18px + (var(--base-height-multiplier) + var(--density)) * var(--design-unit) * 1px);
}

.slideshow-indicators-top[b-ued219vf48] {
    top: 0;
}

.slideshow-indicators-bottom[b-ued219vf48] {
    bottom: 0;
}

.slideshow-indicators-left[b-ued219vf48] {
    left: 0;
}

.slideshow-indicators-right[b-ued219vf48] {
    right: 0;
}
/* _content/FluentUI.Blazor.Community.Components/Components/Slideshow/SlideshowCaption.razor.rz.scp.css */
.slideshow-caption[b-mye4oe0mq1] {
  position: absolute;
  right: 15%;
  bottom: 5.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: var(--neutral-foreground-rest);
  text-align: center;
  display: block !important;
}
/* _content/FluentUI.Blazor.Community.Components/Components/Slideshow/SlideshowItem.razor.rz.scp.css */
.slideshow-item[b-9hewuu9p7q] {
  width: var(--slideshow-width);
  height: var(--slideshow-height);
  display: inline-flex;
  overflow: hidden;
  flex: 0 0 var(--slideshow-width);
  justify-content: center;
  position: relative;
}

.slideshow-item-vertical[b-9hewuu9p7q] {
  flex: 0 0 var(--slideshow-height);
}
