/* _content/FluentUI.Blazor.Community.Components/Components/Cookies/FluentCxCookie.razor.rz.scp.css */
.cookie-dialog[b-kwu7h9u05o] {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: var(--cookie-width, 50%);
  height: var(--cookie-height, auto);
  z-index: 9901;
}

.cookie-small[b-kwu7h9u05o] {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: var(--cookie-width, 500px);
  height: var(--cookie-height, 250px);
  z-index: 9901;
}
/* _content/FluentUI.Blazor.Community.Components/Components/FloatingButton/FluentCxFloatingButton.razor.rz.scp.css */
.fluentcx-floatingbutton-middle-center[b-5k3xn055tf] {
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.fluentcx-floatingbutton-middle[b-5k3xn055tf] {
    top: 50%;
    transform: translateY(-50%);
}

.fluentcx-floatingbutton-center[b-5k3xn055tf] {
  left: 50%;
  transform: translateX(-50%);
}
/* _content/FluentUI.Blazor.Community.Components/Components/Resizer/FluentCxResizer.razor.rz.scp.css */
.fluentcx-resizer[b-67tzm6rfoa] {
  display: inline-flex;
  position: relative;
  min-height: calc((var(--base-height-multiplier) + var(--density)) * var(--design-unit) * 1px);
}

.fluentcx-resizer-handler[b-67tzm6rfoa] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.fluentcx-resizer-child-content-container[b-67tzm6rfoa] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.fluentcx-resizer-handler-cursor-ew[b-67tzm6rfoa] {
  cursor: ew-resize;
}

.fluentcx-resizer-handler-cursor-ns[b-67tzm6rfoa] {
  cursor: ns-resize;
}

.fluentcx-resizer-handler-cursor-nwse[b-67tzm6rfoa] {
  cursor: nwse-resize;
}

[b-67tzm6rfoa] fluent-button {
  min-height: calc((var(--base-height-multiplier) + var(--density)) * var(--design-unit) * 1px);
  height: 100%;
  width: 100%;
}
/* _content/FluentUI.Blazor.Community.Components/Components/SleekDial/SleekDialItemView.razor.rz.scp.css */
.sleekdialitem-radial[b-nupc10y2mj] {
  position: absolute !important;
  transform: rotate(var(--sleekdial-radial-angle)) translate(var(--sleekdial-radial-offset)) rotate(calc(-1 * var(--sleekdial-radial-angle)))
}

.sleekdialitem-text-radial[b-nupc10y2mj] {
  position: absolute;
  visibility: hidden
}

.sleekdialitem-radial-center[b-nupc10y2mj] {
  left: calc(.5 * var(--sleekdial-radial-min-width) + var(--sleekdial-radial-offset));
}

.sleekdialitem-radial-middle[b-nupc10y2mj] {
  top: calc(.5 * var(--sleekdial-radial-min-width) + var(--sleekdial-radial-offset));
}

.sleekdialitem-radial-top[b-nupc10y2mj] {
    top: 0px;
}

.sleekdialitem-radial-right[b-nupc10y2mj] {
  right: 0px;
}

sleekdialitem-radial-bottom[b-nupc10y2mj] {
    bottom: 0px;
}
/* _content/FluentUI.Blazor.Community.Components/Components/SleekDial/SleekDialPopup.razor.rz.scp.css */
@keyframes SlideLeftOut-b-r91sbni5ka {
  from {
    transform: translate(0, 0)
  }

  to {
    transform: translate(-100%, 0)
  }
}

@keyframes SlideLeftIn-b-r91sbni5ka {
  from {
    transform: translate(-100%, 0)
  }

  to {
    transform: translate(0, 0)
  }
}

@keyframes SlideRightIn-b-r91sbni5ka {
  from {
    transform: translate(100%, 0)
  }

  to {
    transform: translate(0, 0)
  }
}

@keyframes SlideRightOut-b-r91sbni5ka {
  from {
    transform: translate(0, 0)
  }

  to {
    transform: translate(100%, 0)
  }
}

@keyframes SlideBottomIn-b-r91sbni5ka {
  from {
    transform: translate(0, 100%)
  }

  to {
    transform: translate(0, 0)
  }
}

@keyframes SlideBottomOut-b-r91sbni5ka {
  from {
    transform: translate(0, 0)
  }

  to {
    transform: translate(0, 100%)
  }
}

@keyframes SlideTopIn-b-r91sbni5ka {
  from {
    transform: translate(0, -100%)
  }

  to {
    transform: translate(0, 0)
  }
}

@keyframes SlideTopOut-b-r91sbni5ka {
  from {
    transform: translate(0, 0)
  }

  to {
    transform: translate(0, -100%)
  }
}

@keyframes SlideRight-b-r91sbni5ka {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes SlideLeft-b-r91sbni5ka {
  from {
    width: 100%
  }

  to {
    width: 0
  }
}

@keyframes SlideDown-b-r91sbni5ka {
  from {
    height: 0
  }

  to {
    height: 100%
  }
}

@keyframes SlideUp-b-r91sbni5ka {
  from {
    height: 100%
  }

  to {
    height: 0
  }
}

@keyframes FadeIn-b-r91sbni5ka {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes FadeOut-b-r91sbni5ka {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@keyframes ZoomIn-b-r91sbni5ka {
  from {
    transform: translate(0, 0) scale(0)
  }

  to {
    transform: translate(0, 0) scale(1)
  }
}

@keyframes ZoomOut-b-r91sbni5ka {
  from {
    transform: translate(0, 0) scale(1)
  }

  to {
    transform: translate(0, 0) scale(0)
  }
}

@keyframes FadeZoomIn-b-r91sbni5ka {
  from {
    opacity: 0;
    transform: scale(0)
  }

  to {
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes FadeZoomOut-b-r91sbni5ka {
  from {
    opacity: 1;
    transform: scale(1)
  }

  to {
    opacity: 0;
    transform: scale(0)
  }
}

@keyframes FlipRightDownIn-b-r91sbni5ka {
  from {
    transform: perspective(400px) rotateY(-180deg);
    transform-origin: right center;
    transform-style: preserve-3d
  }

  to {
    transform: rotateY(0deg);
    transform-origin: right center;
    transform-style: preserve-3d
  }
}

@keyframes FlipRightDownOut-b-r91sbni5ka {
  from {
    transform: perspective(400px) rotateY(0deg);
    transform-origin: right center;
    transform-style: preserve-3d
  }

  to {
    transform: rotateY(-180deg);
    transform-origin: right center;
    transform-style: preserve-3d
  }
}

@keyframes FlipRightUpIn-b-r91sbni5ka {
  from {
    transform: perspective(400px) rotateY(135deg);
    transform-origin: right center;
    transform-style: preserve-3d
  }

  to {
    transform: rotateY(0deg);
    transform-origin: right center;
    transform-style: preserve-3d
  }
}

@keyframes FlipRightUpOut-b-r91sbni5ka {
  from {
    transform: perspective(400px) rotateY(0deg);
    transform-origin: right center;
    transform-style: preserve-3d
  }

  to {
    transform: rotateY(135deg);
    transform-origin: right center;
    transform-style: preserve-3d
  }
}

@keyframes FlipLeftDownIn-b-r91sbni5ka {
  from {
    transform: perspective(400px) rotateY(-180deg);
    transform-origin: left center;
    transform-style: preserve-3d
  }

  to {
    transform: rotateY(0deg);
    transform-origin: left center;
    transform-style: preserve-3d
  }
}

@keyframes FlipLeftDownOut-b-r91sbni5ka {
  from {
    transform: perspective(400px) rotateY(0deg);
    transform-origin: left center;
    transform-style: preserve-3d
  }

  to {
    transform: rotateY(135deg);
    transform-origin: left center;
    transform-style: preserve-3d
  }
}

@keyframes FlipLeftUpIn-b-r91sbni5ka {
  from {
    transform: perspective(400px) rotateY(-135deg);
    transform-origin: left center;
    transform-style: preserve-3d
  }

  to {
    transform: rotateY(0deg);
    transform-origin: left center;
    transform-style: preserve-3d
  }
}

@keyframes FlipLeftUpOut-b-r91sbni5ka {
  from {
    transform: perspective(400px) rotateY(0deg);
    transform-origin: left center;
    transform-style: preserve-3d
  }

  to {
    transform: rotateY(135deg) perspective(200px);
    transform-origin: left center;
    transform-style: preserve-3d
  }
}

@keyframes FlipYLeftIn-b-r91sbni5ka {
  from {
    opacity: 0;
    transform: perspective(400px) rotateY(180deg);
    transform-origin: center center;
    transform-style: preserve-3d
  }

  50% {
    transform: perspective(700px) rotateY(90deg)
  }

  to {
    opacity: 1;
    transform: rotateY(0deg);
    transform-origin: center center;
    transform-style: preserve-3d
  }
}

@keyframes FlipYLeftOut-b-r91sbni5ka {
  from {
    opacity: 1;
    transform: perspective(400px) rotateY(0deg);
    transform-origin: center center;
    transform-style: preserve-3d
  }

  50% {
    transform: perspective(700px) rotateY(90deg)
  }

  75% {
    transform: perspective(850px) rotateY(125deg)
  }

  to {
    opacity: 0;
    transform: rotateY(180deg);
    transform-origin: center center;
    transform-style: preserve-3d
  }
}

@keyframes FlipYRightIn-b-r91sbni5ka {
  from {
    opacity: 0;
    transform: perspective(400px) rotateY(-180deg);
    transform-origin: center center;
    transform-style: preserve-3d
  }

  50% {
    transform: perspective(700px) rotateY(-90deg)
  }

  to {
    opacity: 1;
    transform: rotateY(0deg);
    transform-origin: center center;
    transform-style: preserve-3d
  }
}

@keyframes FlipYRightOut-b-r91sbni5ka {
  from {
    opacity: 1;
    transform: perspective(400px) rotateY(0deg);
    transform-origin: center center;
    transform-style: preserve-3d
  }

  50% {
    transform: perspective(700px) rotateY(-90deg)
  }

  to {
    opacity: 0;
    transform: rotateY(-180deg);
    transform-origin: center center;
    transform-style: preserve-3d
  }
}

@keyframes FlipXDownIn-b-r91sbni5ka {
  from {
    opacity: 0;
    transform: perspective(400px) rotateX(180deg);
    transform-origin: center center;
    transform-style: preserve-3d
  }

  50% {
    transform: perspective(700px) rotateX(90deg)
  }

  to {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: center center;
    transform-style: preserve-3d
  }
}

@keyframes FlipXDownOut-b-r91sbni5ka {
  from {
    opacity: 1;
    transform: perspective(400px) rotateX(0deg);
    transform-origin: center center;
    transform-style: preserve-3d
  }

  50% {
    transform: perspective(700px) rotateX(90deg)
  }

  75% {
    transform: perspective(850px) rotateX(125deg)
  }

  to {
    opacity: 0;
    transform: rotateX(180deg);
    transform-origin: center center;
    transform-style: preserve-3d
  }
}

@keyframes FlipXUpIn-b-r91sbni5ka {
  from {
    opacity: 0;
    transform: perspective(400px) rotateX(-180deg);
    transform-origin: center center;
    transform-style: preserve-3d
  }

  50% {
    transform: perspective(700px) rotateX(-90deg)
  }

  to {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: center center;
    transform-style: preserve-3d
  }
}

@keyframes FlipXUpOut-b-r91sbni5ka {
  from {
    opacity: 1;
    transform: perspective(400px) rotateX(0deg);
    transform-origin: center center;
    transform-style: preserve-3d
  }

  50% {
    transform: perspective(700px) rotateX(-90deg)
  }

  to {
    opacity: 0;
    transform: rotateX(-180deg);
    transform-origin: center center;
    transform-style: preserve-3d
  }
}

.animation-slideleftout[b-r91sbni5ka] {
  animation-name: SlideLeftOut-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-out;
}

.animation-slideleftin[b-r91sbni5ka] {
  animation-name: SlideLeftIn-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in;
}

.animation-sliderightout[b-r91sbni5ka] {
  animation-name: SlideRightOut-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-out;
}

.animation-sliderightin[b-r91sbni5ka] {
  animation-name: SlideRightIn-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in;
}

.animation-slidebottomout[b-r91sbni5ka] {
  animation-name: SlideBottomOut-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-out;
}

.animation-slidebottomin[b-r91sbni5ka] {
  animation-name: SlideBottomIn-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in;
}

.animation-slidetopin[b-r91sbni5ka] {
  animation-name: SlideTopIn-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in;
}

.animation-slidetopout[b-r91sbni5ka] {
  animation-name: SlideTopOut-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-out;
}

.animation-slideright[b-r91sbni5ka] {
  animation-name: SlideRight-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in-out;
}

.animation-slideleft[b-r91sbni5ka] {
  animation-name: SlideLeft-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in-out;
}

.animation-slidedown[b-r91sbni5ka] {
  animation-name: SlideDown-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in-out;
}

.animation-slideup[b-r91sbni5ka] {
  animation-name: SlideUp-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in-out;
}

.animation-fadein[b-r91sbni5ka] {
  animation-name: FadeIn-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in;
}

.animation-fadeout[b-r91sbni5ka] {
  animation-name: FadeOut-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-out;
}

.animation-zoomin[b-r91sbni5ka] {
  animation-name: ZoomIn-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in;
}

.animation-zoomout[b-r91sbni5ka] {
  animation-name: ZoomOut-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-out;
}

.animation-fadezoomin[b-r91sbni5ka] {
  animation-name: FadeZoomIn-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in;
}

.animation-fadezoomout[b-r91sbni5ka] {
  animation-name: FadeZoomOut-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-out;
}

.animation-fliprightdownin[b-r91sbni5ka] {
  animation-name: FlipRightDownIn-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in;
}

.animation-fliprightdownout[b-r91sbni5ka] {
  animation-name: FlipRightDownOut-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-out;
}

.animation-fliprightupin[b-r91sbni5ka] {
  animation-name: FlipRightUpIn-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in;
}

.animation-fliprightupout[b-r91sbni5ka] {
  animation-name: FlipLeftUpOut-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-out;
}

.animation-flipleftdownin[b-r91sbni5ka] {
  animation-name: FlipLeftDownIn-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in;
}

.animation-flipleftdownout[b-r91sbni5ka] {
  animation-name: FlipLeftDownOut-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-out;
}

.animation-flipleftupin[b-r91sbni5ka] {
  animation-name: FlipLeftUpIn-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in;
}

.animation-flipleftupout[b-r91sbni5ka] {
  animation-name: FlipLeftUpOut-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-out;
}

.animation-flipyleftin[b-r91sbni5ka] {
  animation-name: FlipYLeftIn-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in;
}

.animation-flipyleftout[b-r91sbni5ka] {
  animation-name: FlipYLeftOut-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-out;
}

.animation-flipyrightin[b-r91sbni5ka] {
  animation-name: FlipYRightIn-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in;
}

.animation-flipyrightout[b-r91sbni5ka] {
  animation-name: FlipYRightOut-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-out;
}

.animation-flipxdownin[b-r91sbni5ka] {
  animation-name: FlipXDownIn-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in;
}

.animation-flipxdownout[b-r91sbni5ka] {
  animation-name: FlipXDownOut-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-out;
}

.animation-flipxupin[b-r91sbni5ka] {
  animation-name: FlipXUpIn-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in;
}

.animation-flipxupout[b-r91sbni5ka] {
  animation-name: FlipXUpOut-b-r91sbni5ka;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-out;
}

.sleekdial-popup-hidden[b-r91sbni5ka] {
    visibility: hidden;
}

.sleekdial-popup[b-r91sbni5ka] {
    position: absolute;
    z-index: 998;
}

.sleekdial-popup-linear-middle[b-r91sbni5ka] {
    bottom: var(--sleekdial-vertical-offset);
}

.sleekdial-popup-linear-left[b-r91sbni5ka] {
    left: var(--sleekdial-horizontal-offset);
}

.sleekdial-popup-linear-right[b-r91sbni5ka] {
  right: var(--sleekdial-horizontal-offset);
}

.sleekdial-popup-linear-direction-left .sleekdial-popup-ul[b-r91sbni5ka] {
  flex-direction: row ;
}

.sleekdial-popup-linear-direction-right .sleekdial-popup-ul[b-r91sbni5ka] {
  flex-direction: row-reverse;
}

.sleekdial-popup-linear-direction-down .sleekdial-popup-ul[b-r91sbni5ka] {
  flex-direction: column-reverse;
}

.sleekdial-popup-linear-center[b-r91sbni5ka] {
  left: var(--sleekdial-horizontal-offset);
}

.sleekdial-popup-linear-top[b-r91sbni5ka] {
  top: var(--sleekdial-vertical-offset);
}

.sleekdial-popup-linear-bottom[b-r91sbni5ka] {
  bottom: var(--sleekdial-vertical-offset);
}

.sleekdial-popup-radial-top[b-r91sbni5ka] {
  top: 16px;
}

.sleekdial-popup-radial-bottom[b-r91sbni5ka] {
  top: var(--sleekdial-vertical-offset);
}

.sleekdial-popup-radial-left[b-r91sbni5ka] {
  left: 16px;
}

.sleekdial-popup-radial-right[b-r91sbni5ka] {
  right: 16px;
}

.sleekdial-popup-radial[b-r91sbni5ka] {
  height: calc(var(--sleekdial-radial-offset) + 2 * var(--sleekdial-radial-min-height));
  width: calc(var(--sleekdial-radial-offset) + 2*var(--sleekdial-radial-min-width));
}

.sleekdial-popup-radial-middle[b-r91sbni5ka] {
  height: calc(2 * var(--sleekdial-radial-offset) + 2 * var(--sleekdial-radial-min-height));
  top: var(--sleekdial-vertical-offset);
}

.sleekdial-popup-radial-center[b-r91sbni5ka] {
  width: calc(2 * var(--sleekdial-radial-offset) + 2 * var(--sleekdial-radial-min-width));
  left: var(--sleekdial-horizontal-offset);
}

.sleekdial-popup-radial-top-left[b-r91sbni5ka] {
  border-bottom-right-radius: 100%
}

.sleekdial-popup-radial-top-right[b-r91sbni5ka] {
  border-bottom-left-radius: 100%
}

.sleekdial-popup-radial-bottom-left[b-r91sbni5ka] {
  border-top-right-radius: 100%
}

.sleekdial-popup-radial-bottom-right[b-r91sbni5ka] {
  border-top-left-radius: 100%
}
/* _content/FluentUI.Blazor.Community.Components/Components/SleekDial/SleekDialView.razor.rz.scp.css */
.sleekdial-view-radial[b-hxine644y0] {
  height: inherit;
  width: inherit;
  position: relative;
  border-radius: inherit;
  padding: 5px 3px;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
}
