@page "/sleekdial"
@using FluentUI.Demo.Shared.Pages.SleekDial.Examples

<h1>Sleek Dial</h1>

<p>
    A <code>FluentCxSleekDial</code> component displays multiple items for the floating action button.
    The items are presented in linear way or radial way.
    The component can stay open when an item is clicked.
    The component can be hidden based on its own visibility mode and the visibility mode of its items.
</p>

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentCxSleekDial)" />
<ApiDocumentation Component="typeof(SleekDialItem)" />
<ApiDocumentation Component="typeof(SleekDialPopup)" />
