@page "/sleekdial"
@using FluentUI.Demo.Shared.Pages.SleekDial.Examples

<h1>Sleek Dial</h1>

<p>
    A <code>FluentCxSleekDial</code> component displays multiple items for the floating action button.
    The items are presented in linear way or radial way.
    The component can stay open when an item is clicked.
</p>

<h2 id="example">Examples</h2>

<DemoSection Component="typeof(SleekDialDefault)" Title="Sleek Dial">
    <Description>
        A <code>FluentCxSleekDial</code> component displays multiple items for the floating action button.
        The items are presented in linear way or radial way.
    </Description>
</DemoSection>

<DemoSection Component="typeof(SleekDialAnimations)" Title="Sleek Dial Animations">
    <Description>
        Shows differents animations when opening or closing the sleekdial.
    </Description>
</DemoSection>


<DemoSection Component="typeof(SleekDialLinear)" Title="Sleek Dial Linear">
    <Description>
        Shows differents positions of the <code>FluentCxSleekDial</code> when its rendering mode is set to linear.
        Based on the position of the <code>FluentCxSleekDial</code>, the items direction will vary.
    </Description>
</DemoSection>

<DemoSection Component="typeof(SleekDialRadial)" Title="Sleek Dial Radial">
    <Description>
        Shows differents positions of the <code>FluentCxSleekDial</code> when its rendering mode is set to radial.
        Based on the position of the <code>FluentCxSleekDial</code>, the items direction will vary.
    </Description>
</DemoSection>

<DemoSection Component="typeof(SleekDialClick)" Title="Sleek Dial Click">
    <Description>
        Each <code>SleekDialItem</code> can react on a click. This sample shows how to do that.
    </Description>
</DemoSection>

<DemoSection Component="typeof(SleekDialItemVisibility)" Title="Sleek Dial Item Visibility">
    <Description>
        Each <code>SleekDialItem</code> can be hidden. This sample shows how to do that.
    </Description>
</DemoSection>

<DemoSection Component="typeof(SleekDialVisibility)" Title="Sleek Dial Visibility">
    <Description>
        The <code>FluentCxSleekDial</code> has the capability to be hidden. This sample shows how to do that.
        In this sample, four dials are shown with different visibility modes.
        One dial is always visible (the bottom left), the second one is hidden when it has no visible items,
        the third one is hidden when all its items are invisible and the last one is hidden when it has no visible items or all its items are invisible.
    </Description>
</DemoSection>

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentCxSleekDial)" />
<ApiDocumentation Component="typeof(SleekDialItem)" />
<ApiDocumentation Component="typeof(SleekDialPopup)" />
