@page "/chat"
@using FluentUI.Demo.Shared.Pages.Chat.Examples

<h1>Chat</h1>

<p>
    The FluentCxChat component allows the user to chat with one or many other users.
    The FluentCxChat has two parts :

    <ul>
        <li>The chat room which list all the available rooms.</li>
        <li>The chat view with options</li>
    </ul>

   The chat view has some options :

   <ul>
       * Show the message list
       * Show the pinned messages
       * Show the audio files
       * Show the video files
       * Show the image files
       * Show the other documents
   </ul>
</p>

<h2 id="example">Examples</h2>

<DemoSection Component="typeof(ChatDefault)" Title="Default" />

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentCxChat<>)" InstanceTypes="[typeof(NoFileEntryData)]" />

