<div style="height: 400px">
    <FluentStack VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.Center">
        <FluentCxLottiePlayer Source="https://assets2.lottiefiles.com/packages/lf20_touohxv0.json"
                              Width="300px"
                              Height="300px"
                              Loop="true">
            <LottieControls />
        </FluentCxLottiePlayer>
    </FluentStack>
</div>
