.chatroom-root {
  height: 100%;
  width: 100%;
  position: relative;
}

.chatroom-search {
  flex: 0 0 auto;
  padding: 10px 0;
}

.chatroom-list-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chatroom-virtualize-container {
  flex: 1;
  overflow-y: auto;
  position: relative;
  padding: var(--spacingVerticalXS) var(--spacingHorizontalXS);
  border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
  border-radius: var(--borderRadiusMedium);
}
