<div style="width:100%; height: 500px">
    <FluentCxAnimation>
        <AnimationItem Width="100" Height="100">
            <img width="100" height="100" style="border-radius: 8px" src="./_content/FluentUI.Demo.Shared/slideshowimages/1.jpg" />
        </AnimationItem>

        <AnimationItem Width="100" Height="100">
            <img width="100" height="100" style="border-radius: 8px" src="./_content/FluentUI.Demo.Shared/slideshowimages/2.jpg" />
        </AnimationItem>

        <AnimationItem Width="100" Height="100">
            <img width="100" height="100" style="border-radius: 8px" src="./_content/FluentUI.Demo.Shared/slideshowimages/3.jpg" />
        </AnimationItem>  
    </FluentCxAnimation>
</div>
