@page "/resizers"
@using FluentUI.Demo.Shared.Pages.Resizers.Examples

<h1>Resizers</h1>

<p>
    The resizer allows you to resize your component horizontally and / or vertically.
</p>

<h2 id="example">Examples</h2>


<DemoSection Component="typeof(ResizeCardExample)" Title="Resize a card" />

<DemoSection Component="typeof(ResizeButtonExample)" Title="Resize a button">
    <Description>
        A component, like a button needs some extra work.
        You need to add two styles : width to 100% and height to 100%
    </Description>
</DemoSection>

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentCxResizer)" />
