@page "/resizers"


<h1>Resizers</h1>

<p>
    The resizer allows you to resize your component horizontally and / or vertically.
</p>

<h2 id="example">Examples</h2>

<h3>Resize a card </h3>

<p>
    A card is really easy to resize without extra work
</p>

<FluentCxResizer>
    <FluentCard>
        Fluent Card inside a Resizer Component
    </FluentCard>
</FluentCxResizer>

<h3>Resize a button </h3>

<p>
    A component, like a button needs some extra work.
    You need to add two styles : width to 100% and height to 100%
</p>

<FluentCxResizer>
    <FluentButton Style="width: 100%; height: 100%">
        Button inside a Resizer Component
    </FluentButton>
</FluentCxResizer>
