<div style="height: 750px">
    <FluentSwitch Label="Smartphone view" @bind-Value="_isMobileView" />

    <FluentCxFileManager TItem="NoFileEntryData"
                         Root="@_root"
                         View="@(_isMobileView ? FileManagerView.Mobile : FileManagerView.Desktop)"/>
</div>

@code {
    private FileManagerEntry<NoFileEntryData> _root = default!;
    private bool _isMobileView = false;

    [Inject]
    public IFileManagerItemsProvider<NoFileEntryData>? ItemsProvider{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (ItemsProvider is not null)
        {
            _root = await ItemsProvider.GetItemsAsync();
        }
    }
}
