<div style="height: 850px">
    <FluentStack>
        <FluentSwitch Label="Smartphone view" @bind-Value="_isMobileView" />

        <FluentNumberField HideStep
                           Immediate
                           Label="Smartphone switch view width (px)"
                           @bind-Value=_smartphoneSwitchViewWidthValue />
    </FluentStack>

    <FluentCxFileManager TItem="NoFileEntryData"
                         Root="@_root"
                         SmartphoneSwitchViewWidth="@SmartphoneSwitchViewWidth"
                         View="@(_isMobileView ? FileManagerView.Mobile : FileManagerView.Desktop)"/>
</div>

@code {
    private FileManagerEntry<NoFileEntryData> _root = default!;
    private bool _isMobileView = false;
    private int? _smartphoneSwitchViewWidthValue;

    private string? SmartphoneSwitchViewWidth => _smartphoneSwitchViewWidthValue.HasValue ? $"{_smartphoneSwitchViewWidthValue}px" : null;

    [Inject]
    public IFileManagerItemsProvider<NoFileEntryData>? ItemsProvider{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (ItemsProvider is not null)
        {
            _root = await ItemsProvider.GetItemsAsync();
        }
    }
}
