<h3>Default</h3>
<FluentCxFileManager TItem="NoFileEntryData"
                     Root="@_root" />


@code {
    private FileManagerEntry<NoFileEntryData> _root = default!;

    [Inject]
    public IFileManagerItemsProvider<NoFileEntryData>? ItemsProvider{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (ItemsProvider is not null)
        {
            _root = await ItemsProvider.GetItemsAsync();
        }
    }
}
