
<div id="xxx" class="fluentcx-drop-zone" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(0px, 1fr)); grid-auto-rows: minmax(0px, 1fr); width: 100%; height: 100%;" role="list" blazor:ondragover:preventdefault="" blazor:ondragover="1" blazor:ondragenter:preventdefault="" blazor:ondragenter="2" blazor:ondrop="3" blazor:ondrop:preventdefault="" ondragstart="event.dataTransfer.setData('text', event.target.id);" blazor:ondrop:stoppropagation="" blazor:ondragenter:stoppropagation="" blazor:ondragend:stoppropagation="" blazor:ondragover:stoppropagation="" blazor:ondragleave:stoppropagation="" blazor:ondragstart:stoppropagation="">
  <div draggable="False" blazor:ondragstart="4" blazor:ondragend="5" role="listitem" blazor:ondragenter="6" blazor:ondragleave="7" class="fluentcx-drop-zone-noselect fluentcx-drop-zone-draggable" style="grid-column-end: span 1; grid-row-end: span 1; padding: calc(var(--design-unit) * 3px); display: grid;">
    <div id="xxx" blazor:onclick="16" blazor:ondblclick="17" class="fluentcx-resizer" style="width: 100%; height: 100%;" b-tewolge03r="">
      <div class="fluentcx-resizer-child-content-container" b-tewolge03r="">
        <div style="width: 100%; height: 100%;">Content: item1</div>
      </div>
    </div>
  </div>
  <div draggable="False" blazor:ondragstart="8" blazor:ondragend="9" role="listitem" blazor:ondragenter="10" blazor:ondragleave="11" class="fluentcx-drop-zone-noselect fluentcx-drop-zone-draggable" style="grid-column-end: span 1; grid-row-end: span 1; padding: calc(var(--design-unit) * 3px); display: grid;">
    <div id="xxx" blazor:onclick="18" blazor:ondblclick="19" class="fluentcx-resizer" style="width: 100%; height: 100%;" b-tewolge03r="">
      <div class="fluentcx-resizer-child-content-container" b-tewolge03r="">
        <div style="width: 100%; height: 100%;">Content: item2</div>
      </div>
    </div>
  </div>
  <div draggable="False" blazor:ondragstart="12" blazor:ondragend="13" role="listitem" blazor:ondragenter="14" blazor:ondragleave="15" class="fluentcx-drop-zone-noselect fluentcx-drop-zone-draggable" style="grid-column-end: span 1; grid-row-end: span 1; padding: calc(var(--design-unit) * 3px); display: grid;">
    <div id="xxx" blazor:onclick="20" blazor:ondblclick="21" class="fluentcx-resizer" style="width: 100%; height: 100%;" b-tewolge03r="">
      <div class="fluentcx-resizer-child-content-container" b-tewolge03r="">
        <div style="width: 100%; height: 100%;">Content: item3</div>
      </div>
    </div>
  </div>
  <div draggable="False" blazor:ondragstart="22" blazor:ondragend="23" role="listitem" blazor:ondragenter="24" blazor:ondragleave="25" class="fluentcx-drop-zone-noselect fluentcx-drop-zone-draggable" style="grid-column-end: span 1; grid-row-end: span 1; padding: calc(var(--design-unit) * 3px); display: grid;">
    <div id="xxx" blazor:onclick="34" blazor:ondblclick="35" class="fluentcx-resizer" style="width: 100%; height: 100%;" b-tewolge03r="">
      <div class="fluentcx-resizer-child-content-container" b-tewolge03r="">
        <div style="width: 100%; height: 100%;">Content: item1</div>
      </div>
    </div>
  </div>
  <div draggable="False" blazor:ondragstart="26" blazor:ondragend="27" role="listitem" blazor:ondragenter="28" blazor:ondragleave="29" class="fluentcx-drop-zone-noselect fluentcx-drop-zone-draggable" style="grid-column-end: span 1; grid-row-end: span 1; padding: calc(var(--design-unit) * 3px); display: grid;">
    <div id="xxx" blazor:onclick="36" blazor:ondblclick="37" class="fluentcx-resizer" style="width: 100%; height: 100%;" b-tewolge03r="">
      <div class="fluentcx-resizer-child-content-container" b-tewolge03r="">
        <div style="width: 100%; height: 100%;">Content: item2</div>
      </div>
    </div>
  </div>
  <div draggable="False" blazor:ondragstart="30" blazor:ondragend="31" role="listitem" blazor:ondragenter="32" blazor:ondragleave="33" class="fluentcx-drop-zone-noselect fluentcx-drop-zone-draggable" style="grid-column-end: span 1; grid-row-end: span 1; padding: calc(var(--design-unit) * 3px); display: grid;">
    <div id="xxx" blazor:onclick="38" blazor:ondblclick="39" class="fluentcx-resizer" style="width: 100%; height: 100%;" b-tewolge03r="">
      <div class="fluentcx-resizer-child-content-container" b-tewolge03r="">
        <div style="width: 100%; height: 100%;">Content: item3</div>
      </div>
    </div>
  </div>
</div>