
<div id="xxx" class="fluentcx-drop-zone" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(0px, 1fr)); grid-auto-rows: minmax(0px, 1fr); width: 100%; height: 100%;" role="list" blazor:ondragover:preventdefault="" blazor:ondragover="1" blazor:ondragenter:preventdefault="" blazor:ondragenter="2" blazor:ondrop="3" blazor:ondrop:preventdefault="" ondragstart="event.dataTransfer.setData('text', event.target.id);" blazor:ondrop:stoppropagation="" blazor:ondragenter:stoppropagation="" blazor:ondragend:stoppropagation="" blazor:ondragover:stoppropagation="" blazor:ondragleave:stoppropagation="" blazor:ondragstart:stoppropagation="">
  <div draggable="False" blazor:ondragstart="4" blazor:ondragend="5" role="listitem" blazor:ondragenter="6" blazor:ondragleave="7" class="fluentcx-drop-zone-noselect fluentcx-drop-zone-draggable" style="grid-column-end: span 1; grid-row-end: span 1; padding: calc(var(--design-unit) * 3px); display: grid;">
    <div id="xxx" blazor:onclick="8" blazor:ondblclick="9" class="fluentcx-resizer" style="width: 100%; height: 100%; max-width: 100%; overflow: hidden;" b-tewolge03r="">
      <div class="fluentcx-resizer-child-content-container" b-tewolge03r="">
        <div style="width: 100%; height: 100%;">Item: test-item</div>
      </div>
    </div>
  </div>
  <div draggable="False" blazor:ondragstart="10" blazor:ondragend="11" role="listitem" blazor:ondragenter="12" blazor:ondragleave="13" class="fluentcx-drop-zone-noselect fluentcx-drop-zone-draggable" style="grid-column-end: span 1; grid-row-end: span 1; padding: calc(var(--design-unit) * 3px); display: grid;">
    <div id="xxx" blazor:onclick="14" blazor:ondblclick="15" class="fluentcx-resizer" style="width: 100%; height: 100%; max-width: 100%; overflow: hidden;" b-tewolge03r="">
      <div class="fluentcx-resizer-child-content-container" b-tewolge03r="">
        <div style="width: 100%; height: 100%;">Item: test-item</div>
      </div>
    </div>
  </div>
</div>