.chat-reply {
  font-family: var(--body-font);
  background-color: var(--neutral-layer-floating);
  border: 1px solid var(--neutral-stroke-layer-rest);
  color: var(--neutral-foreground-rest);
  display: grid;
  grid-template-columns: 24px 10px auto 10px 1fr auto;
  width: 100%;
  padding: 0px 3px;
  align-items: center;
  min-height: 36px;
  border-radius: calc(var(--control-corner-radius) * 1px);
  padding: 0 12px;
  column-gap: 8px;
}

.chat-reply-in-card {
  background-color: var(--neutral-layer-1);
}

.chat-reply-icon {
  grid-column: 1;
}

.chat-reply-start-message {
  grid-column: 2;
}

.chat-reply-messagebar {
  grid-column: 3;
}

.chat-reply-end-message {
  grid-column: 4;
}

.chat-reply-messagebar-close {
  grid-column: 6;
}
