
<div id="xxx" blazor:onclick="1" blazor:ondblclick="2" class="fluentcx-resizer" b-tewolge03r="">
  <div class="fluentcx-resizer-child-content-container" b-tewolge03r=""></div>
  <div class="fluentcx-resizer-handler fluentcx-resizer-handler-cursor-ew" style="top: 0px; right: 0px; bottom: 0px; width: 9px;" b-tewolge03r=""></div>
  <div class="fluentcx-resizer-handler fluentcx-resizer-handler-cursor-ns" style="left: 0px; right: 0px; bottom: 0px; height: 9px;" b-tewolge03r=""></div>
  <div class="fluentcx-resizer-handler fluentcx-resizer-handler-cursor-nwse" style="right: 0px; bottom: 0px; width: 9px; height: 9px;" b-tewolge03r=""></div>
</div>
<style b-tewolge03r="">
    fluent-button {
        min-height: calc((var(--base-height-multiplier) + var(--density)) * var(--design-unit) * 1px);
        height: 100%;
        width: 100%;
    }

</style>