
<div role="group" style="position: relative; display: inline-flex; unicode-bidi: isolate;">
  <img style="width: 40px; height: 40px; margin-left: 0px; border-radius: 0px; display: inline-flex; flex-shrink: 0;">
  <img style="width: 40px; height: 40px; margin-left: 16px; border-radius: 0px; display: inline-flex; flex-shrink: 0;">
  <img style="width: 40px; height: 40px; margin-left: 16px; border-radius: 0px; display: inline-flex; flex-shrink: 0;">
  <fluent-button style="margin-left: 16px;border-radius: 0px;width: 40px; height: 40px;" type="button" id="xxx" appearance="neutral" blazor:onclick="1" b-x1200685t0="" blazor:elementreference="xxx">+ 2</fluent-button>
</div>