@using Plotly.Blazor.Traces
<h3>Bar Chart</h3>


<BarChart Title="Bar chart Sample" Responsive @bind-Items="@_items"/>

@code {
    private IEnumerable<Bar> _items = new List<Bar>()
    {
        new Bar
            {
                X = new List<object> { "giraffes", "orangutans", "monkeys" },
                Y = new List<object> { 20, 14, 23 },
                Name = "SF Zoo"
            },

        new Bar
            {
                X = new List<object> { "giraffes", "orangutans", "monkeys" },
                Y = new List<object> { 12, 18, 29 },
                Name = "LA Zoo"
            }
    };
}
