@using Plotly.Blazor.Traces
<h3>Pie Chart</h3>


<PieChart Title="Pie chart Sample" Responsive Items="@_items"/>

@code {
    private readonly List<Pie> _items = new()
    {
        new Pie
            {
                Values = new List<object> { 19, 26, 55 },
                Labels = new List<object> { "Residential", "Non-Residential", "Utility" }
            }
    };
}
