@namespace FluentUI.Blazor.Community.Components
@inherits FluentComponentBase

<CascadingValue Value="this">
    <div id="lottie-container">
        <div id="@Id"
             style="@InternalStyle"
             class="@InternalCss">
        </div>

        @ChildContent
    </div>
</CascadingValue>
