@page "/slideshow"

@using FluentUI.Demo.Shared.Pages.Slideshow.Examples

<h1>Slideshow</h1>

<p>
    The slideshow component is a light carousel which display content with a fade effect.
</p>

<h2 id="example">Examples</h2>


<DemoSection Component="typeof(SlideshowDefault)" Title="Default" />

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentCxSlideshow<>)" />
<ApiDocumentation Component="typeof(SlideshowItem<>)" />
<ApiDocumentation Component="typeof(SlideshowCaption)" />
