.fluentcx-resizer {
  display: inline-flex;
  position: relative;
  min-height: calc((var(--base-height-multiplier) + var(--density)) * var(--design-unit) * 1px);
}

.fluentcx-resizer-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.fluentcx-resizer-child-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.fluentcx-resizer-handler-cursor-ew {
  cursor: ew-resize;
}

.fluentcx-resizer-handler-cursor-ns {
  cursor: ns-resize;
}

.fluentcx-resizer-handler-cursor-nwse {
  cursor: nwse-resize;
}

::deep fluent-button {
  min-height: calc((var(--base-height-multiplier) + var(--density)) * var(--design-unit) * 1px);
  height: 100%;
  width: 100%;
}
